{% extends "layout.html"%}
    
{% block content%}
<link rel="stylesheet" href="static/css/login.css">
    <div class="content-section">
        <form action="" method="POST">

            {{ form_html.hidden_tag() }}


            <fieldset class="form-group">
                <legend class="border-bottom mb-4 ">Log In</legend>

                <div class="form-group">
                    {{ form_html.email.label(class="form-control-label")}}
                    {% if form_html.email.errors %}
                        {{ form_html.email(class="form-control form-control-lg is-invalid")}}
                        <div class="is-invalid">  
                            {% for error in errors %}
                                <span> {{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else%}
                        {{ form_html.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form_html.password.label(class="form-control-label")}}
                    {% if form_html.password.errors %}
                        {{ form_html.password(class="form-control form-control-lg is-invalid")}}
                        <div class="is-invalid">  
                            {% for error in errors %}
                                <span> {{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else%}
                        {{ form_html.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form_html.submit(class="btn btn-outline-info") }}
                    
                </div>
                
                <div class="form-group ml-4">
                    {{form_html.remember(class='form-check-input')}}
                    {{form_html.remember.label(class='form-check-label')}}
                </div>
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
                
            </fieldset>
        </form>
    </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                want to Create an account? <a href="#" class="ml-2">Register Now</a>
            </small>
        </div>
        
{% endblock content%}